
.footer{
    border: 0px solid gray;
    margin: 1.5% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(20px , 3% , 25px) ;
}
.footer-left , .footer-mid , .footer-right{
    display: flex; 
    flex-direction: column;
    color: white;
    padding:10px 0px;
}
.footer-left-l1{
    font-size: 2.3rem;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgb(93, 0, 156);
}
.footer-left-l2{
    font-size: 1.3rem;
}
.footer-mid-l1{
    font-size: 1.3rem;
}
.footer-mid-l2{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.footer-mid-l2 a{
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}
.footer-mid-l2>div{
    margin: 20px 20px 0px 0px ;
}


/* ---------------footer right---------- */
.footer-right-l1 , .footer-right-l3{
    font-size: 1.3rem;
}
.footer-right-l2, .footer-right-l4{
    display: flex;
}
.footer-right-l2>div, .footer-right-l4>div {
    margin: 15px 20px 15px 0px;
}
.footer-right-l2 a:hover, .footer-right-l4 a:hover , .footer-mid-l2 a:hover{
    color:gainsboro;
}
.footer-right-l2 a , .footer-right-l4 a{
    color: white;
}

.copyright{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 15px;
}









@media (max-width: 700px) {
    .footer , .footer-left, .footer-right , .footer-mid{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .footer-mid-l1{
        display: none;
    }
    .footer-mid-l2{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0px solid red;
        flex-direction: column;
        width: 300px;
        margin-bottom: 20px;
    }
    .footer-left , .footer-mid , .footer-right{
        border-bottom: 1px solid rgb(173, 209, 239);
        
    }
    
}