.nav-container{
    
}
.navbar{
    padding: 15px 0px ;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left{
    font-size: 1.7rem;
    font-weight: 600;
   
}
.nav-center{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.nav-right2{
   display: none;
}
.nav-link a {
    font-size: 1.2rem;
    border: 0px solid red;
    margin: 0px 10px ; 
    color: black;
    text-decoration: none;
}
.nav-link a:hover{
    color: rgb(64, 0, 255);
    background-color: rgba(236, 236, 236, 0.251);
}
.nav-center,.nav-left,.nav-right , .navbar{
    /* border: 0px solid red;                    */
    /* contrtuc frme----------- */
}


@media (max-width: 700px) {
    .nav-center , .nav-right{
        display: none;
    } 
    .nav-right2{
        display: inline-block;
    }
  }
  