.admin-user-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    margin-top: 20px;
}
.admin-user-card{
box-shadow: 1px 1px 10px 5px rgba(231, 231, 231, 0.592) ;
border-radius: 10px;
margin: 20px 5px;
}