.page-1 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 0px solid rgb(4, 0, 255);
}
/* // Social Media Links --------- */
.social-media {
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 0px;
    order: 1;
}
.social-media a{
    font-size: 2rem;
    color: var(--second-color);
}
.social-media a:hover{
    color: var(--hover-color);
}
/* ----Center Profile description ---------- */
.profile {
    width: 65%;
    padding: 0px 10px;
    order: 2;
}

.profile-heading{
    font-size: 3.3rem;
    font-weight: 700;
}
.profile-tech{
    color: rgb(215, 0, 0);
    font-size: 1.3rem;
    margin-bottom: 3%;
    font-weight: 500;
}
.profile-desc{
    font-size: 1.2rem;
    color: rgba(97, 97, 97, 0.724);
    font-weight: 500;
    margin-bottom: 3%;
    
}
.cnt-me-btn{
    font-size: 1.1rem;
    background-color: var(--second-color);
    display: inline-block;
    padding: auto;
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
}
.cnt-me-btn:hover{
    background-color: var(--hover-color);
}
/* ----------image --------- */
.profile-photo {
    width: 30%;
    min-width: 250px;
    order: 3;
    border: 2px solid rgb(4, 0, 255);
}

.profile-photo img {
    width: 100%;
    border-radius: 0px 110px 0px 110px;
}

.social-media,
.profile,
.profile-photo {
    border: 0px solid red;
}

@keyframes animate-from-left {
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes animate-from-right {
    from{ 
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes animate-from-bottom{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* .social-media{
    animation: animate-from-left 1s ease-out;
}
.profile-heading{
    animation: animate-from-left 1s ease-out;
}
.profile-desc , .profile-tech{
    animation: animate-from-right 1s ease-out;
}
.profile-photo , .cnt-me-btn{
    animation: animate-from-bottom 1s ease-out;
    
}

 */






/* ---------------------MEDIA QUERY ------------------- */

@media (max-width: 500px) {
    .page-1{
        align-items: center;
        justify-content: space-evenly;
    }
    .profile{
        order: 3;
    }
    .profile-photo{
        order: 2;
        border-radius: 0px 110px 0px 50px;
    }
    .profile-photo img{
        border-radius: 0px 50px 0px 50px;
        
    }
    .profile{
        width: 100%;
    }
    .profile-heading{
        font-size: 2.6rem;
        text-align: center;
        margin: 10px 0px;
    }
    .profile-tech{
        font-size: 1.2rem;
        text-align: justify;
    }
    .profile-desc{
        font-size: 1.1rem;
    }
}
  