    .card1{
        width: 100%;
        min-width: 250px;
        border: 0px solid gainsboro;
        box-shadow: 1px 1px 15px rgba(220, 220, 220, 0.692);
        border-radius: 8px;
        padding: 10px 15px;
        border-bottom: 3px solid var(--hover-color);
    }
    .card1>div{
        font-weight: 500;
    }
    .card1 span{
        color: rgba(90, 90, 90, 0.715);
    }
    .card-l3{
        color: red;
    }